body {
  background-color: #f9fafc;
}

.main {
  width: 100%;
  min-height: 700px;
  /* background: url(./img/wall-bg.png) no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-title {
  padding-bottom: 60px;
}
.navbar-brand > img {
  width: 8rem;
}
.container ul li {
  font-size: 20px;
}
.main {
  background-color: #f9fafc;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

/* .main div {
  flex-grow: 1;
} */

.main .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
}

.left p {
  font-size: x-large;
}
.nav-link{
  transition: 0.5s;
  justify-items: end;   
  display: grid;
}

.nav-link:hover {
  text-shadow: -0.25px -0.25px 0 black, 0.25px 0.25px black;
  
}

.main .right {
  width: 50%;
  /* flex-grow: 1; */
  background: url(./img/background.png) no-repeat center;
  background-size: auto;
}

.footer {
  position: relative;
  width: 100%;
}
.upper-footer {
  padding: 50px 0;
}

.footer-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-btn {
  min-width: 170px;
  color: #fff;
  margin: 20px 10px;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Lucida Grande", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

.app-blu {
  background-color: #101010;
  transition: background-color 0.25s linear;
}

.app-blu:hover {
  background-color: #454545;
}

.app-btn i,
.iconify {
  width: 20%;
  text-align: center;
  font-size: 28px;
  margin-right: 7px;
}

.app-btn .big-txt {
  font-size: 17px;
  text-transform: capitalize;
}

.app-btn p {
  margin-top: 0.3rem;
}
.font-btn {
  font-size: 0.8rem !important;
}

.lower-footer {
  background-color: #d9d9d9;
  padding: 15px 15px 0 15px;
  display: flex;
  flex-direction: column;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.lower-footer .contact {
  border-right: 1px solid #a5a4a4;
  padding: 0 30px;
}
.lower-footer .contact a {
  text-decoration: none;
  color: #000;
}
.lower-footer .contact a:hover {
  text-decoration: underline;
  text-shadow: -0.25px -0.25px 0 black, 0.25px 0.25px black;
  transition: 0.5s;
}
.lower-footer .social-media {
  padding: 0 30px;
}
.lower-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.lower-footer ul li {
  display: inline-block;
  color: black;
}

.lower-footer ul li a {
  color: black;
  padding: 5px;
  font-size: 24px;
}
.lower-footer ul li a:hover {
  color: #454545;
  transition: 0.5s;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  padding-bottom: 10px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .main {
    /* background: url(./img/portait.jpg) no-repeat fixed;  */
    flex-direction: column-reverse !important;
    margin: 0 auto !important;
  }
  .main-index h1 {
    font-size: 2rem !important;
  }
  .main-index p {
    font-size: 1.3rem !important;
  }
  .main .right {
    height: 800px !important;
    width: 90% !important;
    background-size: contain !important;
  }
  .main .left {
    width: 90% !important;
    text-align: justify;
  }
  .font-btn {
    font-size: 0.6rem !important;
  }
}

@media screen and (max-width:600px) {
  .upper-footer {
    flex-direction: column !important;
  }
  .app-blu {
    width: 60%;
    margin: 5px;
  }
  .social {
    flex-direction: column !important;
    justify-content: center;
    text-align: center;
  }
  .lower-footer .contact {
    padding: 30px 30px;
    border-bottom: 1px solid #a5a4a4;
    border-right: none;
  }
  .lower-footer .social-media {
    padding: 30px 30px;
  }
 
  .copyright {
    font-size: 12px;
  }
  .main .left {
    text-align: left;
  }
  .home-title {
    padding-bottom: 30px;
  }
}

@media screen and (min-height: 1000px) {
  .main {
    height: 68vh !important;
    margin-top: 60px;
  }
  .left p {
    font-size: xx-large;
  }
  nav {
    font-size: x-large !important;
  }
}
@media screen and (min-height: 1400px) {
  .index-only {
    position: fixed !important;
    bottom: 0;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .nav-link {
    font-size: larger !important;
    
  }
}



