.main-policies {
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h4 {
  padding-top: 30px;
}
h5 {
  padding-top: 20px;
}
.main-policies span {
  padding-bottom: 30px;
}
.text-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 50%;
}
.img-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80%;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: fit-content;
}
.text-grid h1 {
  margin: 0;
}
.content img {
  height: 05%;
  width: 70%;
}

.container ul li {
  font-size: 20px;
}
.container p {
  font-size: 20px;
}
.container li {
  padding: 5px 0;
}
.container h1 {
  padding-bottom: 10px;
}
  .container {
    margin: 60px auto;
  }
.gotop-btn {
  position: fixed;
  right: 60px;
  bottom: 135px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 55px;
  height: 55px;
  color: black;
  border-radius: 10px;
  background-color: #cfcfcf75;
  cursor: pointer;
}
.gotop-btn:hover {
  text-shadow: -0.25px -0.25px 0 black, 0.25px 0.25px black;
  transition: 0.3s;
  outline: 2px solid black;
}
@media screen and (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column-reverse !important;
    height: fit-content;
    justify-content: center;
    align-items: center;
  }
  .text-grid {
    margin: 0;
    width: 100%;
  }
  .img-grid {
    height: 80%;
    width: 80%;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 600px) {

  .container {
    margin: 30px auto !important;
    padding: 0 15px !important;
  }
  .gotop-btn {
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
  }
  .container p, .container li{
    font-size: 1.1rem !important;
  }

}
